@using Microsoft.AspNetCore.Components.Forms;

<h1>@Mode Tutor</h1>

<hr />
@if (Tutor is not null)
{
    <EditForm Model="Tutor"
              OnInvalidSubmit="(async () => await HandleSubmitAsync(false))"
              OnValidSubmit="(async () => await HandleSubmitAsync(true))">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <h2>🆔 Identificacion </h2>
        <p>
            <label>
                Nombre:
                <InputText @bind-Value="Tutor.Nombre" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.Nombre" />
            </label>
            <label>
                Apellido:
                <InputText @bind-Value="Tutor.ApellidoPaterno" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.ApellidoPaterno" />
                <InputText @bind-Value="Tutor.ApellidoMaterno" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.ApellidoMaterno" />
            </label>
        </p>
        <h2>🆔 Otra Persona </h2>
        <p>
            <label>
                Nombre:
                <InputText @bind-Value="Tutor.NombreP1" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.NombreP1" />
            </label>
            <label>
                Apellido:
                <InputText @bind-Value="Tutor.ApellidoPaternoP1" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.ApellidoPaternoP1" />
                <InputText @bind-Value="Tutor.ApellidoMaternoP1" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.ApellidoMaternoP1" />
            </label>
        </p>
        <h2> Informacion de contacto </h2>
        <p>
            <label>
                Correo:
                <InputText @bind-Value="Tutor.Correo" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.Correo" />
            </label>
            <label>
                Telefono de la empresa:
                <InputText @bind-Value="Tutor.TelefonoEmpresa" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.TelefonoEmpresa" />
            </label>
            <label>
                Telefono Personal u otro:
                <InputText @bind-Value="Tutor.Telefono" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.Telefono" />
            </label>
            <label>
                Direccion:
                <InputText @bind-Value="Tutor.Direccion" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.Direccion" />
            </label>
        </p>
        <h2> Datos Fiscales </h2>
        <p>
            <label>
                Nombre Fiscal:
                <InputText @bind-Value="Tutor.NombreFiscal" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.NombreFiscal" />
            </label>
            <label>
                RFC:
                <InputText @bind-Value="Tutor.RFC" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.RFC" />
            </label>
            <label>
                <input type="checkbox" name="PersonaF" value="true"> Persona Fisica
            </label>
            <label>
                Persona Fisica:
                <InputSelect @bind-Value="Tutor.PersonaFisica">
                    @foreach (var personaFisica in Enum.GetValues(typeof(PersonaFisicaUSOCFDI)))
                    {
                        <option value="@personaFisica">@personaFisica</option>
                    }
                </InputSelect>
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.PersonaFisica" />
            </label>
            <label>
                <input type="checkbox" name="PersonaM" value="true"> Persona Moral
            </label>
            <label>
                Persona Moral:
                <InputSelect @bind-Value="Tutor.PersonaMoral">
                    @foreach (var personaMoral in Enum.GetValues(typeof(PersonaMoralUSOCFDI)))
                    {
                        <option value="@personaMoral">@personaMoral</option>
                    }
                </InputSelect>
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.PersonaMoral" />
            </label>
            <label>
                Donacion:
                <InputNumber @bind-Value="Tutor.Donacion" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.Donacion" />
            </label>
            <label>
                Detalles de la Ayuda:
                <InputText @bind-Value="Tutor.DetallesAyuda" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.DetallesAyuda" />
            </label>
        </p>
        <h2>Empresa</h2>
        <p>
            <label>
                Nombre de la Empresa:
                <InputText @bind-Value="Tutor.EmpresaNombre" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.EmpresaNombre" />
            </label>
            <label>
                Tipo de Empresa:
                <InputSelect @bind-Value="Tutor.TipoEmp">
                    @foreach (var tipoEmpresa in Enum.GetValues(typeof(TipoEmpresa)))
                    {
                        <option value="@tipoEmpresa">@tipoEmpresa</option>
                    }
                </InputSelect>
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.TipoEmp" />
            </label>
            <label>
                Informacion extra:
                <InputText @bind-Value="Tutor.InformacionExtra" />
                <ConcurrencyField Model="Tutor"
                                  DbModel="DbTutor"
                                  Property="obj => obj?.InformacionExtra" />
            </label>

        </p>
        <br />
        <button disabled="@Busy" class="btn btn-warning"
                @onclick="CancelAsync">
            Cancel
        </button>&nbsp;
        <button disabled="@Busy" type="submit"
                class="btn btn-primary">
            Submit
        </button>
    </EditForm>
}

@code {
    // Let parent handle result of validation.
    [Parameter]
    public EventCallback<bool> ValidationResult { get; set; }

    // Let parent handle what to do on cancel.
    [Parameter]
    public EventCallback CancelRequest { get; set; }

    // True if add mode.
    [Parameter]
    public bool IsAdd { get; set; }

    // The Contact to upsert.
    [Parameter]
    public Tutor? Tutor { get; set; }

    // The database version of Contact if a concurrency issue.
    [Parameter]
    public Tutor? DbTutor { get; set; }

    // Prevent multiple asynchronous operations at the same time.
    [Parameter]
    public bool Busy { get; set; }

    // Mode.
    private string Mode => IsAdd ? "Add" : "Edit";

    // Ask to cancel.
    private Task CancelAsync()
    {
        return CancelRequest.InvokeAsync(null);
    }

    // Handle form submission request.
    // isValid: True when field validation passed.
    private Task HandleSubmitAsync(bool isValid)
    {
        return ValidationResult.InvokeAsync(isValid);
    }
}
