@page "/upload"
@using CsvHelper
@using System.Globalization
@using CsvHelper.Configuration
@inject IBaseGridControls Filters
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject IWebHostEnvironment WebHostEnvironment
@inject NavigationManager Navigation
@inject TutorQueryAdapter QueryAdapter
@inject HttpClient HttpClient

<div class="text-center">
    <h1 class="display-4">Subir Archivos</h1>
    <InputFile OnChange="OnInputFileChange" />
    <br />
</div>
<br/>
<div class="text-center">
    <button @onclick="UploadFile" class="btn btn-primary">Cargar</button>
</div>

@if (tutoresAgregados.Count > 0)
{
    <div class="text-center">
        <h2>Tutores Agregados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tutor in tutoresAgregados)
                {
                    <tr>
                        <td>@tutor.Nombre</td>
                        <td>@tutor.ApellidoPaterno</td>
                        <td>@tutor.Correo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (tutoresSaltados.Count > 0)
{
    <div class="text-center">
        <h2>Tutores Saltados (Ya existian)</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tutor in tutoresSaltados)
                {
                    <tr>
                        <td>@tutor.Nombre</td>
                        <td>@tutor.ApellidoPaterno</td>
                        <td>@tutor.Correo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private IBrowserFile file;
    private List<Tutor> tutoresAgregados = new();
    private List<Tutor> tutoresSaltados = new();

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        file = e.File;
    }

    private async Task UploadFile()
    {
        if (file == null)
        {
            return;
        }

        var config = new CsvConfiguration(CultureInfo.InvariantCulture)
        {
            HeaderValidated = null,
            MissingFieldFound = (missingFieldFoundArgs) =>
            {
                Console.WriteLine($"Los campos '{string.Join(",", missingFieldFoundArgs.HeaderNames)}' no existen en el archivo CSV.");
            },
        };

        using (var stream = file.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024)) // 10 MB
        {
            using (var reader = new StreamReader(stream))
            {
                using (var csv = new CsvReader(reader, config))
                {
                    var records = csv.GetRecordsAsync<Tutor>();

                    using (var context = DbFactory.CreateDbContext())
                    {
                        ArgumentNullException.ThrowIfNull(context?.Tutores, nameof(context));
                        await foreach (var record in records)
                        {
                            if (!string.IsNullOrEmpty(record.Correo))
                            {
                                if (context.Tutores
                                .Where(tutor => tutor.Correo == record.Correo)
                                .Any())
                                {
                                    this.tutoresSaltados.Add(record);
                                    continue;
                                }
                            }
                            else
                            {
                                // Checar por nombre y apellido
                                if (context.Tutores
                                    .Where(tutor => EF.Functions.Like(tutor.Nombre, record.Nombre)
                                    && EF.Functions.Like(tutor.ApellidoPaterno, record.ApellidoPaterno))
                                    .Any())
                                {
                                    this.tutoresSaltados.Add(record);
                                    continue;
                                }
                            }

                            this.tutoresAgregados.Add(record);
                        }

                        if (tutoresAgregados.Count > 0)
                        {
                            context.Tutores.AddRange(tutoresAgregados);
                            await context.SaveChangesAsync();
                        }
                    }
                }
            }
        }
    }
}