@page "/view-institucion/{InstitucionId:int}"
@rendermode InteractiveServer
@using BlazorWebAppEFCore.Grid
@using BlazorWebAppEFCore.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.FluentUI.AspNetCore.Components
@inject IDbContextFactory<OyeIapDbContext> DbFactory
@inject IPageHelper PageHelper
@inject EditSuccess EditSuccessState
@inject NavigationManager NavigationManager;

<!--@if (NotFound && !Loading)
{
    <FluentMessageBar Title="@Mensajes.InstitucionNotFoundTitle" Intent="@MessageIntent.Warning">
        @Mensajes.InstitucionNotFoundMessage
    </FluentMessageBar>
}
else
{
    @if (Institucion is null || Loading)
    {
        <FluentProgressRing></FluentProgressRing>
    }
    else
    {
    <FluentCard>
        <FluenteHeader>
            @Institucion.Nombre
        </FluenteHeader>
        <br />
        @if (EditSuccess)
        {
                <FluentMessageBar Title="@Mensajes.EditMessageTitle" Intent="@MessageIntent.Success">
                    @Mensajes.EditSuccessMessage
                </FluentMessageBar>
        }
        <FluentGrid>
            <FluentGridItem xs="6" sm="3">
                <FluentCard>
                    <FluentLabel Weight="FontWeight.Bold">Contacto</FluentLabel>
                    <FluentLabel>Correo: @Institucion.Correo</FluentLabel>
                    <FluentLabel>Telefono: @Institucion.Telefono</FluentLabel>
                </FluentCard>
            </FluentGridItem>
                <FluentGridItem xs="6" sm="3">
                    <FluentCard>
                        <FluentLabel Weight="FontWeight.Bold">Detalles de la empresa</FluentLabel>
                        <FluentLabel>Direccion: @Institucion.Direccion</FluentLabel>
                        <FluentLabel>Empresa: @Institucion.TipoEmpresas</FluentLabel>
                        <FluentLabel>Descripcion: @Institucion.Descripcion</FluentLabel>
                    </FluentCard>
                </FluentGridItem>
                <FluentGridItem xs="6" sm="3">
                    <FluentCard>
                        <FluentLabel Weight="FontWeight.Bold">Patrocinio</FluentLabel>
                        @if (Institucion.PatrocinioActivo && Institucion.Donacion is int donacion)
                        {
                            <FluentLabel>Donacion: @donacion.ToString("$xxxx")</FluentLabel>
                            @if (Institucion.PatrocinioActivo && Institucion.DetallesAyuda is string detalles)
                            {
                                <FluentLabel>Detalles: @detalles</FluentLabel>
                            }
                        }
                    </FluentCard>
                </FluentGridItem>
        </FluentGrid>
        <FluentFooter Style="margin-top: 20px;">
            <FluentButton Style="margin: 5px;" Title="Go Back" OnClick="NavigateBack">🔙 Volver a la tabla</FluentButton>
            <FluentButton Style="margin:5px;" Title="Edit" OnClick="EditInstitucion">Editar</FluentButton>

        @if (!Deleted)
        {
            @if (!ShowConfirmation)
            {
                <FluentButton Style="margin:5px;" Title="Delete" OnClick="@(() => { ShowConfirmation = true; EditSuccess = false; })">Delete</FluentButton>
            }
            else
            {
                <DeletePrompt Confirmation="@(async result => await ConfirmAsync(result))" />
            }
        }
        else
        {
            <FluentButton Title="Deleted" Disabled="true">🚫 This item has been deleted.</FluentButton>
        }
        </FluentFooter>
    </FluentCard>
    }
}-->
@if (NotFound && !Loading)
{
    <div class="alert alert-warning">A contact with that id doesn't exist.</div>
}
else
{
    @if (Institucion is null || Loading)
    {
        <div class="alert alert-info">Loading...</div>
    }
    else
    {
        <h1>@Institucion.Nombre</h1>
        <br />
        @if (EditSuccess)
        {
            <div class="alert alert-success">Successfully updated the contact.</div>
        }
        <hr />
        <h2> Contacto </h2>
        <br />
        <h3>@Institucion.Correo, @Institucion.Telefono </h3>
        <br />
        <h3>@Institucion.ApellidoPersona, @Institucion.NombrePersona</h3>
        <br />
        <h2> Direccion </h2>
        <br />
        <h3>@Institucion.Direccion </h3>
        <br />
        <h2> Informacion </h2>
        <h3>@Institucion.TipoEmpresas, @Institucion.Descripcion</h3>
        <br />
        <h2> Patrocinador </h2>
        <h3>@Institucion.Donacion, @Institucion.DetallesAyuda, @Institucion.PatrocinioActivo</h3>
        <br />
        <a class="btn btn-primary" title="Go Back" href="@PageHelper.Page">
            🔙 Back to Grid
        </a>
        @if (!Deleted)
        {
            <a class="btn btn-primary" href="edit-institucion/@Institucion.Id" title="Edit">Edit</a>

            <span>&nbsp;</span>
            @if (!ShowConfirmation)
            {
                <button class="btn btn-danger" @onclick="@(() => { ShowConfirmation = true; EditSuccess = false; })">Delete</button>
            }
            else
            {
                <br />
                <br />
                <DeletePrompt Confirmation="@(async result => await ConfirmAsync(result))" />
            }
        }
        else
        {
            <div class="btn btn-danger">🚫 This item has been deleted.</div>
        }
    }
}

@code {
    // Tracking of asynchronous calls.
    private bool Loading;

    // Id from route of contact.
    [Parameter]
    public int InstitucionId { get; set; }

    // Navigation check.
    private int _lastInstitucionId;

    // True with redirect from successful edit.
    [Parameter]
    public bool EditSuccess { get; set; }

    // Contact entity.
    private Institucion? Institucion { get; set; }

    // Set to true when not found.
    private bool NotFound = false;

    // Set to true when delete is requested.
    private bool ShowConfirmation = false;

    // Set to true when delete is successful.
    private bool Deleted = false;

    // Navigated
    protected override async Task OnParametersSetAsync()
    {
        if (_lastInstitucionId != InstitucionId)
        {
            EditSuccess = EditSuccessState.Success;
            EditSuccessState.Success = false;
            _lastInstitucionId = InstitucionId;
            await LoadContactAsync();
        }
        await base.OnParametersSetAsync();
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo($"institucion/{PageHelper.Page}");
    }

    private void EditInstitucion()
    {
        NavigationManager.NavigateTo($"edit-institucion/{InstitucionId}");
    }

    // Confirm deletion.
    // result is True when user confirmed.
    private async Task ConfirmAsync(bool result)
    {
        if (result)
        {
            await DeleteAsync();
        }
        else
        {
            ShowConfirmation = false;
            EditSuccess = false;
        }
    }

    // Loads the contact.
    private async Task LoadContactAsync()
    {
        if (Loading)
        {
            return; //avoid concurrent requests.
        }

        NotFound = false;
        Institucion = null;

        Loading = true;

        using var context = DbFactory.CreateDbContext();

        if (context.Instituciones is not null)
        {
            Institucion = await context.Instituciones
                .AsNoTracking()
                .SingleOrDefaultAsync(
                    c => c.Id == InstitucionId);

            if (Institucion is null)
            {
                NotFound = true;
            }
        }

        Loading = false;
    }

    // Deletes the contact.
    private async Task DeleteAsync()
    {
        if (Loading)
        {
            // Avoid concurrent requests.
            return;
        }

        Loading = true;
        using var context = DbFactory?.CreateDbContext();

        if (context?.Instituciones is not null)
        {
            var institucion = await context.Instituciones
                .SingleOrDefaultAsync(c => c.Id == InstitucionId);

            if (institucion is not null)
            {
                context.Instituciones?.Remove(institucion);
                await context.SaveChangesAsync();
                Loading = false;
                Deleted = true;
            }
            else
            {
                Loading = false;
                // Show not found.
                await LoadContactAsync();
            }
        }
        else
        {
            Loading = false;
            // Show not found.
            await LoadContactAsync();
        }
    }

    private static class Mensajes
    {
        public const string InstitucionNotFoundTitle = "Institucion no encontrado.";
        public const string InstitucionNotFoundMessage = "La institucion con ese Id no ha sido encontrado en la base de datos.";
        public const string EditMessageTitle = "Institucion Actualizado";
        public const string EditSuccessMessage = "El institucion se ha actualizado exitosamente.";
    }

}